Repository MModding/archeon, pull requests merged in 2024-09, with the labels that each got.

#7 Archeon Retexture
  src/main/resources/assets/archeon/textures/block/achrean_moss.png
  src/main/resources/assets/archeon/textures/block/aketite_bricks.png
  src/main/resources/assets/archeon/textures/block/artemnite_baseboard.png
  src/main/resources/assets/archeon/textures/block/blue_doeldia_bottom.png
  src/main/resources/assets/archeon/textures/block/blue_doeldia_top.png
  src/main/resources/assets/archeon/textures/block/chiseled_gyspum.png
  src/main/resources/assets/archeon/textures/block/giant_lily.png
  src/main/resources/assets/archeon/textures/block/golden_clay.png
  src/main/resources/assets/archeon/textures/block/gypsum.png
  src/main/resources/assets/archeon/textures/block/gypsum_bricks.png
  src/main/resources/assets/archeon/textures/block/gypsum_pillar.png
  src/main/resources/assets/archeon/textures/block/gypsum_pillar_top.png
  src/main/resources/assets/archeon/textures/block/gypsum_tiles.png
  src/main/resources/assets/archeon/textures/block/hot_spring_lily_pad.png
  src/main/resources/assets/archeon/textures/block/mossy_golden_clay.png
  src/main/resources/assets/archeon/textures/block/orange_lycoris.png
  src/main/resources/assets/archeon/textures/block/organdeane.png
  src/main/resources/assets/archeon/textures/block/pink_doeldia_bottom.png
  src/main/resources/assets/archeon/textures/block/pink_doeldia_top.png
  src/main/resources/assets/archeon/textures/block/pink_lycoris.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_down_base.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_down_frustum.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_down_middle.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_down_tip.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_down_tip_merge.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_up_base.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_up_frustum.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_up_middle.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_up_tip.png
  src/main/resources/assets/archeon/textures/block/pointed_gypsum_up_tip_merge.png
  src/main/resources/assets/archeon/textures/block/red_lycoris.png
  src/main/resources/assets/archeon/textures/block/small_hot_spring_lily_pad.png
  src/main/resources/assets/archeon/textures/block/southstone_furnace_front.png
  src/main/resources/assets/archeon/textures/block/southstone_furnace_front_on.png
  src/main/resources/assets/archeon/textures/block/southstone_furnace_side.png
  src/main/resources/assets/archeon/textures/block/southstone_furnace_top.png
  src/main/resources/assets/archeon/textures/block/southstone_pillar.png
  src/main/resources/assets/archeon/textures/block/southstone_pillar_bottom.png
  src/main/resources/assets/archeon/textures/block/southstone_pillar_top.png
  src/main/resources/assets/archeon/textures/block/tall_organdeane_bottom.png
  src/main/resources/assets/archeon/textures/block/tall_organdeane_top.png
  src/main/resources/assets/archeon/textures/block/wet_dirt.png
  src/main/resources/assets/archeon/textures/block/wet_grass_block.png
  src/main/resources/assets/archeon/textures/block/white_doeldia_bottom.png
  src/main/resources/assets/archeon/textures/block/white_doeldia_top.png
  src/main/resources/assets/archeon/textures/block/yellow_doeldia_bottom.png
  src/main/resources/assets/archeon/textures/block/yellow_doeldia_top.png
  src/main/resources/assets/archeon/textures/item/apaflorite_axe.png
  src/main/resources/assets/archeon/textures/item/apaflorite_hoe.png
  src/main/resources/assets/archeon/textures/item/apaflorite_pickaxe.png
  src/main/resources/assets/archeon/textures/item/apaflorite_shovel.png
  src/main/resources/assets/archeon/textures/item/apaflorite_sword.png
  src/main/resources/assets/archeon/textures/item/giant_lily.png
  src/main/resources/assets/archeon/textures/item/pointed_gypsum.png
Labels: priority: medium, textures

#11 Edit anhydrite textures
  src/main/resources/assets/archeon/textures/block/anhydrite.png
  src/main/resources/assets/archeon/textures/block/anhydrite_bricks.png
  src/main/resources/assets/archeon/textures/block/anhydrite_pillar.png
  src/main/resources/assets/archeon/textures/block/anhydrite_pillar_top.png
  src/main/resources/assets/archeon/textures/block/anhydrite_tiles.png
  src/main/resources/assets/archeon/textures/block/chiseled_anhydrite.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_down_base.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_down_frustum.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_down_middle.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_down_tip.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_down_tip_merge.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_up_base.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_up_frustum.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_up_middle.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_up_tip.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_up_tip_merge.png
  src/main/resources/assets/archeon/textures/block/polished_anhydrite.png
  src/main/resources/assets/archeon/textures/item/pointed_anhydrite.png
Labels: priority: medium, textures

#12 Re-edit Anhydrite textures
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_down_frustum.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_down_middle.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_up_frustum.png
  src/main/resources/assets/archeon/textures/block/pointed_anhydrite_up_middle.png
Labels: bug, priority: high, textures

#10 Edit flowers and snowy grass tuffet textures
  src/main/resources/assets/archeon/textures/block/aerolia.png
  src/main/resources/assets/archeon/textures/block/ascendia_bottom.png
  src/main/resources/assets/archeon/textures/block/ascendia_top.png
  src/main/resources/assets/archeon/textures/block/astedibes.png
  src/main/resources/assets/archeon/textures/block/dotted_stovia.png
  src/main/resources/assets/archeon/textures/block/iopea.png
  src/main/resources/assets/archeon/textures/block/oea.png
  src/main/resources/assets/archeon/textures/block/roseypia.png
  src/main/resources/assets/archeon/textures/block/septiceolia.png
  src/main/resources/assets/archeon/textures/block/snowy_wet_grass_block.png
  src/main/resources/assets/archeon/textures/block/sunset_orchid.png
  src/main/resources/assets/archeon/textures/block/tall_iopea_bottom.png
  src/main/resources/assets/archeon/textures/block/tall_iopea_top.png
  src/main/resources/assets/archeon/textures/block/twilight_rose.png
  src/main/resources/assets/archeon/textures/block/vine.png
Labels: priority: low, textures

#13 Palm Log
  src/main/resources/assets/archeon/textures/block/palm_log.png
  src/main/resources/assets/archeon/textures/block/stripped_palm_log.png
Labels: priority: high, textures

#14 Edit South Wheat textures
  src/main/resources/assets/archeon/textures/block/south_wheat_stage0.png
  src/main/resources/assets/archeon/textures/block/south_wheat_stage1.png
  src/main/resources/assets/archeon/textures/block/south_wheat_stage2_bottom.png
  src/main/resources/assets/archeon/textures/block/south_wheat_stage2_top.png
  src/main/resources/assets/archeon/textures/block/south_wheat_stage3_bottom.png
  src/main/resources/assets/archeon/textures/block/south_wheat_stage3_top.png
  src/main/resources/assets/archeon/textures/block/south_wheat_stage4_bottom.png
  src/main/resources/assets/archeon/textures/block/south_wheat_stage4_top.png
  src/main/resources/assets/archeon/textures/item/ascendia.png
  src/main/resources/assets/archeon/textures/item/blue_doeldia.png
  src/main/resources/assets/archeon/textures/item/pink_doeldia.png
  src/main/resources/assets/archeon/textures/item/south_wheat.png
  src/main/resources/assets/archeon/textures/item/tall_iopea.png
  src/main/resources/assets/archeon/textures/item/tall_organdeane.png
  src/main/resources/assets/archeon/textures/item/white_doeldia.png
  src/main/resources/assets/archeon/textures/item/yellow_doeldia.png
Labels: priority: medium, textures
